gTTS==2.3.2
pygame==2.5.0
# no subrequirements: distribution requirements: mention in readme and whereever else distributed, and if copyright is displayed in program
certifi==2022.6.15.1
# no subrequirements: